<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a routerLink="/home">SKN Studio</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a routerLink="/home">SC</a>
    </div>

    <!-- General Admin side -->
    <ul class="sidebar-menu">

      <li>
        <a class="nav-link" routerLink="/admin/user" routerLinkActive="active">
          <i class="fas fa-users"></i>
          <span>Users</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">
          <i class="fas fa-tags"></i>
          <span>Categories</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/courier" routerLinkActive="active">
          <i class="fas fa-truck"></i>
          <span>Couriers</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/CompanySettings/edit" routerLinkActive="active">
          <i class="fas fa-cogs"></i>
          <span>Company Setting</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/products" routerLinkActive="active">
          <i class="fas fa-box"></i>
          <span>Products</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/slider" routerLinkActive="active">
          <i class="fas fa-images"></i>
          <span>Slider</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/states" routerLinkActive="active">
          <i class="fas fa-map-marker-alt"></i>
          <span>States</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/contacts" routerLinkActive="active">
          <i class="fas fa-envelope"></i>
          <span>Contacts</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          <span>Orders</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/admin/faq" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span>FAQ</span>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/logout" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>

    </ul>
  </aside>
</div>