<section class="section">
    <div class="section-header">

        <h1>{{ isEditMode ? 'Edit Company Setting' : 'Add Company Setting' }}</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a routerLink="/admin/dashboard">Dashboard</a></div>
            <div class="breadcrumb-item">Company Setting</div>
            <div class="breadcrumb-item">{{ isEditMode ? 'Edit Company Setting' : 'Add Company Setting' }}</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">{{ isEditMode ? 'Edit Company Setting' : 'Add Company Setting' }}</h2>
        <p class="section-lead">On this page you can edit a new Company Setting and fill in all fields.</p>

        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <h4>{{ isEditMode ? 'Edit Company Setting' : 'Add Company Setting' }}</h4>
                    </div>

                    <div class="card-body">

                        <form [formGroup]="companySettingsForm" (ngSubmit)="saveCompanySettings()">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label class="col-form-label">Favicon</label>

                                            <div id="favicon-preview" class="image-preview"
                                                [style.background-image]="faviconPreview  ? 'url(' +  faviconPreview + ')' : 'none'"
                                                [style.background-size]="'cover'" [style.background-position]="'center'"
                                                style="width: 150px; height: 150px; overflow: visible;">
                                                <label for="favicon-upload" id="favicon-label"
                                                    style="width: calc(100% + 4px); left: -2px;">{{ faviconPreview ?
                                                    'Change File' : 'Choose File' }}</label>
                                                <input type="file" id="favicon-upload"
                                                    (change)="onFaviconSelected($event)" accept="image/*"
                                                    style="display: none;" />


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Logo</label>

                                        <div id="logo-preview" class="image-preview"
                                            [style.background-image]="logoPreview  ? 'url(' +  logoPreview + ')' : 'none'"
                                            [style.background-size]="'cover'" [style.background-position]="'center'"
                                            style="width: 150px; height: 150px; overflow: visible;">
                                            <label for="logo-upload" id="logo-label"
                                                style="width: calc(100% + 4px); left: -2px;">{{ logoPreview ? 'Change
                                                File' : 'Choose File' }}</label>
                                            <input type="file" id="logo-upload" (change)="onLogoSelected($event)"
                                                accept="image/*" style="display: none;" />


                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Name</label>

                                        <input type="text" formControlName="name" class="form-control"
                                            placeholder="please enter name" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('name')?.invalid && companySettingsForm.get('name')?.touched  ">

                                            Please fill in your name
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Description</label>

                                        <textarea formControlName="description" class="form-control"
                                            placeholder="please enter description" required></textarea>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('description')?.invalid && companySettingsForm.get('description')?.touched">
                                            Please fill in your description
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Email</label>

                                        <input type="email" formControlName="email" class="form-control"
                                            placeholder="please enter email" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('email')?.invalid && companySettingsForm.get('email')?.touched">
                                            Please fill in your email
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Address</label>

                                        <input type="text" formControlName="address" class="form-control"
                                            placeholder="please enter address" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('address')?.invalid && companySettingsForm.get('address')?.touched">
                                            Please fill in your address
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Phone Number</label>

                                        <input type="text" formControlName="phone_number" class="form-control"
                                            placeholder="please enter phone" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('phone_number')?.invalid && companySettingsForm.get('phone_number')?.touched">
                                            Please fill in your phone
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Facebook url</label>

                                        <input type="text" formControlName="facebook_url" class="form-control"
                                            placeholder="please enter facebook_url" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('facebook_url')?.invalid && companySettingsForm.get('facebook_url')?.touched">
                                            Please fill in your facebook_url
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Instagram url</label>

                                        <input type="text" formControlName="instragram_url" class="form-control"
                                            placeholder="please enter instagram_url" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('instragram_url')?.invalid && companySettingsForm.get('instragram_url')?.touched">
                                            Please fill in your instagram_url
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Whatsapp url</label>

                                        <input type="text" formControlName="whatsapp_url" class="form-control"
                                            placeholder="please enter whatsapp_url" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('whatsapp_url')?.invalid && companySettingsForm.get('whatsapp_url')?.touched">
                                            Please fill in your whatsapp_url
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Site Name</label>

                                        <input type="text" formControlName="site_name" class="form-control"
                                            placeholder="please enter site_name" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('site_name')?.invalid && companySettingsForm.get('site_name')?.touched">
                                            Please fill in your site_name
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label class="col-form-label">Meta Title</label>

                                        <input type="text" formControlName="meta_title" class="form-control"
                                            placeholder="please enter meta_title" required>

                                        <div class="text-danger mt-1"
                                            *ngIf="companySettingsForm.get('meta_title')?.invalid && companySettingsForm.get('meta_title')?.touched">
                                            Please fill in your meta_title
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-form-label">Meta Description</label>

                                <textarea formControlName="meta_description" class="form-control" rows="4"
                                    placeholder="Please enter meta description" required></textarea>

                                <div class="text-danger mt-1"
                                    *ngIf="companySettingsForm.get('meta_description')?.invalid && companySettingsForm.get('meta_description')?.touched">
                                    Please fill in your meta description
                                </div>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-form-label">Meta Keyword</label>

                                <textarea formControlName="meta_keyword" class="form-control" rows="3"
                                    placeholder="keyword1, keyword2, keyword3" required></textarea>

                                <div class="text-danger mt-1"
                                    *ngIf="companySettingsForm.get('meta_keyword')?.invalid && companySettingsForm.get('meta_keyword')?.touched">
                                    Please fill in your meta keywords
                                </div>
                            </div>


                            <div class="form-group mb-4">
                                <label class="col-form-label">Page Title</label>

                                <input type="text" formControlName="page_title" class="form-control"
                                    placeholder="Enter page title" required>

                                <div class="text-danger mt-1"
                                    *ngIf="companySettingsForm.get('page_title')?.invalid && companySettingsForm.get('page_title')?.touched">
                                    Please fill in your page title
                                </div>
                            </div>



                            <div class="form-group mb-4">
                                <div class="text-right m-4">
                                    <button class="btn btn-primary" type="submit"> {{ isEditMode ? 'Update' : 'Save'
                                        }}</button>
                                    <a routerLink="/admin/dashboard" class="btn btn-secondary ml-2">Cancel</a>
                                </div>
                            </div>


                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>